{{/* This file is combined with the root.tmpl to display a single article. */}}

{{define "title"}}{{.Title}} {{end}}
{{define "content"}}
	{{template "doc" .}}
	{{with .Related}}
		<h1>Related articles</h1>
		<ul>
		{{range .}}
			<li><a href="{{.Path}}">{{.Title}}</a></li>
		{{end}}
		</ul>
	{{end}}
{{end}}

