{{/* This template is combined with other templates to render blog pages. */}}

{{define "root"}}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{template "title" .}}</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css">
	<link rel="alternate" type="application/atom+xml" title="我的博客 - Atom Feed" href="http://mygoapp-tiancaiamao.dotcloud.com/feed.atom" />
</head>
<body>

<div id="container">

<div id="heading">
	<a href="http://golang.org/">
	<a href="/">伟大的野心家，实践家</a>
</div><!-- #heading -->

<div id="menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/index">Blog</a></li>
    <li><a href="http://github.com/tiancaiamao">Project</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/feed.atom">RSS</a></li>
  </ul>
</div>

<div id="sidebar">
	{{with .Doc}}
		{{with .Newer}}
			<h1>Next article</h1>
			<p><a href="{{.File}}">{{.Title}}</a></p>
		{{end}}
		
		{{with .Older}}
			<h1>Previous article</h1>
			<p><a href="{{.File}}">{{.Title}}</a></p>
		{{end}}
		
		{{with .Related}}
			<h1>Related articles</h1>
			<ul>
			{{range .}}
				<li><a href="{{.File}}">{{.Title}}</a></li>
			{{end}}
			</ul>
		{{end}}
	{{end}}
	
	<h1>Category</h1>
	<ul>
	<li><a href='http://golang.org/'>分布式</a></li>
	<li><a href='http://golang.org/doc/install.html'>存储</a></li>
	<li><a href='http://tour.golang.org/'>机器学习</a></li>
	<li><a href='http://golang.org/doc/'>编程语言</a></li>
	<li><a href='http://groups.google.com/group/golang-nuts'>编译器</a></li>
	<li><a href='https://plus.google.com/101406623878176903605'>高性能服务器</a></li>
	<li><a href='https://plus.google.com/101406623878176903605'>Android开发</a></li>
	</ul>
	
	<h1>Tags</h1>
	<ul>
	<li><a href='https://plus.google.com/+GoogleDevelopers/posts'>Google Developers +Page</a></li>
	<li><a href='https://developers.google.com/live/'>Google Developers Live</a></li>
	<li><a href='https://developers.google.com/'>Google Developers</a></li>
	<li><a href='http://googledevelopers.blogspot.com/'>Google Developers Blog</a></li>
	</ul>
	
	<h1>Blog Archive</h1>
	<p><a href="/index">Article index</a></p>
	<!-- TODO(adg): list of recent articles here? -->
</div><!-- #sidebar -->

<div id="content">
	{{template "content" .}}
</div><!-- #content -->

<div id="footer">
	<p>
	Except as
	<a href="http://code.google.com/policies.html#restrictions">noted</a>,
	the content of this page is licensed under the Creative Commons
	Attribution 3.0 License,<br>
	and code is licensed under a <a href="/LICENSE">BSD license</a>.<br>
	<a href="http://golang.org/doc/tos.html">Terms of Service</a> | 
	<a href="http://www.google.com/intl/en/policies/privacy/">Privacy Policy</a>
	</p>
</div><!-- #footer -->

</div><!-- #container -->

</body>
<script src="/static/jquery.js"></script>
<script src="/static/play/playground.js"></script>
<script src="/static/play/play.js"></script>
</html>
{{end}}

{{define "doc"}}
	<div class="article">
		<p class="date">{{.Date.Format "2006-01-02"}}</p>
		<h1 class="title"><a href="{{.File}}">{{.Title}}</a></h1>
		{{.HTML}}
	</div>
{{end}}
