<aside id="comments"><div><h2>Comments</h2></div><div id="disqus_thread" /><script type="text/javascript">
var disqus_identifier = 'http://www.zenlife.tk/x';
var disqus_title = 'a &quot;b&quot; &amp; &lt;c&gt;';
var disqus_url = 'http://www.zenlife.tk/x';

(function() {
	var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	dsq.src = '//codingnow.disqus.com/embed.js';
	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript><a href="http://disqus.com" class="dsq-brlink">comments powered by<span class="logo-disqus">Disqus</span></a></aside>